/* header  */

.background-img {
    max-width: 1366px;
    width: 100%;
}
.header {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    position: relative;
} 
.content {
    position: absolute;
    top: 20%;
    left: 48%;
    transform: translate(-50%, -50%);
    max-width: 1132px;
    width: 100%;
    padding-top: 50px;
    
}
.logo-navigation {
    display: flex;
    justify-content: space-between;
    
}
.navigation {
    max-width: 576px;
    width: 100%;
    
}
.ul {
    max-width: 576px;
    display: flex;
    justify-content: space-between;
}
.nav-items {
    font-size: 12px;
    color: white;
}
.logo {
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.contact1 {
    margin-top: 72px;
    color: white;
    font-size: 43px;
}
.home {
    font-size: 11px;
    color: white;
}
.contact-1 {
    font-size: 11px;
    color: white;
}
.contact2 {
    max-width: 120px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
/* section 1 */
.section1 {
    margin-top: 30px;
}
.first-section {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    
}
/* map */
.map {
    max-width: 1088px;
    width: 100%;
    height: 286px;
}

/* forms-( middle one) */
.forms {
    margin-top: 30px;
}
.header1 {
    font-size: 14px;
    max-width: 30px;
    width: 100%;
    color: #5863F8;
}
.header2 {
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
}
.contact-us {
    font-size: 44px;
    font-weight: bold;
}
.form-block {
    max-width: 1080px;
    width: 100%;
}
.textarea {
    max-width: 720px;
    width: 100%;
    height: 288px;
    border-color: #E8E8E8;
    background-color: #F8F8F8;

}
.textarea1 {
    display: flex;
    justify-content: space-between;
}
.inputs {
    max-width: 355px;
    width: 100%;
    height: 288px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.input-forms {
    max-width: 352px;
    width: 100%;
    height: 60px;
    border-color: #E8E8E8;
    background-color: #F8F8F8;
    margin-bottom: 15px;
}
.button {
    max-width: 352px;
    width: 100%;
    height: 60px;
    background-color: #5863F8;
}
/* connection */
.connection {
    max-width: 1165px;
    width: 100%;
    height: 162px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.left-block {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.blue {
    max-width: 90px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    margin-left: 87px;
    margin-bottom: 15px;
   
}
.email {
    font-size: 15px;
    font-weight: bold;
}
.email-2 {
    font-size: 14px;
    margin-top: 6px;
    color: #B1B1B1;
}
.middle-block {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.right-block {
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* section2 */
.images {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
.photos {
    font-size: 14px;
    color: #5863F8;
    font-weight: bold;
}
.header2 {
    max-width: 400px;
    width: 100%;
    margin-bottom: 30px;
}
.see-us {
    font-size: 42px;
    font-weight: bold;
}
.images1 {
    max-width: 1367px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
/* footer */
.footer {
    padding-top: 90px;
    padding-left: 130px;
}
.footer-1 {
    max-width: 1120px;
    /* max-width: 1366px; */
    width: 100%;
    height: 395px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.zetta-hotels {
    max-width: 302px;
    width: 100px;
    height: 191px;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 148px;

}
.text1 {
    font-size: 14px;
    color: #B1B1B1;
    max-width: 260px;
    width: 100%;
    
}
.icons {
    max-width: 130;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.fa-facebook {
    color: #3B5998;
}
.fa-square-twitter {
    color: #55ACEE;
}
.fa-google-plus {
    color: #DC4E41;
}

/* usful-links */
.usful-links {
    max-width: 103px;
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: column;
    
    
}
.title2 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.navigation2 {
    max-width: 103px;
    width: 100%;
    height: 114px;
}
.ul2 {
    display: flex;
    flex-direction: column;
}
.last-div {
    max-width: 260px;
    width: 100%
}
.contact-info {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.mail1 {
    margin-bottom: 20px;
   
}
.phone {
    margin-bottom: 20px;
}



